<?xml version="1.0"?>
<launch>
  <master auto="start"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

<!--  <param name="/use_sim_time" value="true" />-->

  <include file="$(find rc_simul_worlds)/launch/turtlebot3_gazebo_building.launch">
<!--    <arg name="x_pos" value="-2.0"/>
    <arg name="y_pos" value="1.0"/>
    <arg name="yaw_angle" value="1.57079633"/> -->
    <remap from="base_scan" to="scan"/>
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value=""/>
  </node>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="use_gui" value="true"/>
    <param name="rate" value="50"/>
  </node>

  <node name="map_server" pkg="map_server" type="map_server"
	  args="$(find rc_simul_worlds)/maps/building/building.png 0.025" respawn="false"/>
	  
  <node pkg="rviz" type="rviz" name="rviz"
  	args="-d $(find rc_amcl)/rviz/gazebo_1turtlebot_building.rviz"
  />

 <include file="$(find rc_amcl)/launch/amcl_rndw_turtlebot3.launch">
   <arg name="x0" value="4.2" />
   <arg name="y0" value="7.9" />
   <arg name="a0" value="0.0" />
 </include>

</launch>
