<?xml version="1.0"?>
<launch>  
  <node pkg="stage_ros" type="stageros" name="stageros"
args="$(find rc_simul_worlds)/worlds/building/2pioneer_building_MR_SLAM.world" respawn="false">
    <param name="/use_sim_time" value="true"/>
    <param name="base_watchdog_timeout" value="0.2"/>
    <remap from="robot_0/base_scan" to="robot_0/scan"/>
    <remap from="robot_1/base_scan" to="robot_1/scan"/>
  </node>
</launch>
