<?xml version="1.0"?>
<launch>
  <env name="GAZEBO_MODEL_PATH" value="$(find rc_simul_worlds)/models:$(optenv GAZEBO_MODEL_PATH)" />
  <arg name="ns1" default="robot1"/>
  <arg name="ns2" default="robot2"/>
  
  <include file="$(find rc_simul_worlds)/launch/2turtlebot3_gazebo.launch">
    <arg name="world" value="$(find rc_simul_worlds)/gazebo_worlds/building.world"/>
    
    <arg name="ns1" value="$(arg ns1)"/>
    <arg name="x1_pos" value="4.2"/>
    <arg name="y1_pos" value="9.0"/><!-- 7.9 -->
    <arg name="yaw1_angle" value="0.0"/>
    
    <arg name="ns2" value="$(arg ns2)"/>
    <arg name="x2_pos" value="22.0"/>
    <arg name="y2_pos" value="5.25"/>
    <arg name="yaw2_angle" value="2.3561945"/>    
  </include>
</launch>
