<?xml version="1.0"?>
<launch>
  <env name="GAZEBO_MODEL_PATH" value="$(find rc_simul_worlds)/models:$(optenv GAZEBO_MODEL_PATH)" />
  <arg name="ns1" default="robot1"/>
  <arg name="ns2" default="robot2"/>
  <arg name="ns3" default="robot3"/>
  <arg name="ns4" default="robot4"/>
  <arg name="ns5" default="robot5"/>
  <arg name="ns6" default="robot6"/>
  <arg name="ns7" default="robot7"/>
  <arg name="ns8" default="robot8"/>
  
  <include file="$(find rc_simul_worlds)/launch/8turtlebot3_gazebo.launch">
    <arg name="world" value="$(find rc_simul_worlds)/gazebo_worlds/building.world"/>
    
    <arg name="ns1" value="$(arg ns1)"/>
    <arg name="x1_pos" value="6.5"/>
    <arg name="y1_pos" value="10.0"/>
    <arg name="yaw1_angle" value="-1.570796"/>
    
    <arg name="ns2" value="$(arg ns2)"/>
    <arg name="x2_pos" value="22.0"/>
    <arg name="y2_pos" value="5.25"/>
    <arg name="yaw2_angle" value="2.3561945"/>
        
    <arg name="ns3" value="$(arg ns3)"/>
    <arg name="x3_pos" value="6.0"/>
    <arg name="y3_pos" value="4.8"/>
    <arg name="yaw3_angle" value="0.523599"/>  
        
    <arg name="ns4" value="$(arg ns4)"/>
    <arg name="x4_pos" value="12.4"/>
    <arg name="y4_pos" value="2.9"/>
    <arg name="yaw4_angle" value="1.745329"/>  
        
    <arg name="ns5" value="$(arg ns5)"/>
    <arg name="x5_pos" value="16.0"/>
    <arg name="y5_pos" value="2.5"/>
    <arg name="yaw5_angle" value="2.3561945"/>  
        
    <arg name="ns6" value="$(arg ns6)"/>
    <arg name="x6_pos" value="18.5"/>
    <arg name="y6_pos" value="9.2"/>
    <arg name="yaw6_angle" value="2.3561945"/>  
        
    <arg name="ns7" value="$(arg ns7)"/>
    <arg name="x7_pos" value="1.0"/>
    <arg name="y7_pos" value="9.6"/>
    <arg name="yaw7_angle" value="1.570796"/>  
        
    <arg name="ns8" value="$(arg ns8)"/>
    <arg name="x8_pos" value="0.7"/>
    <arg name="y8_pos" value="5.55"/>
    <arg name="yaw8_angle" value="0.0"/>  
  </include>
</launch>

