<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="world" default="$(find turtlebot3_gazebo)/worlds/turtlebot3_stage_4.world" />
  
  <arg name="ns1" default="robot1"/>
  <arg name="x1_pos" default="0.0"/>
  <arg name="y1_pos" default="0.0"/>
  <arg name="z1_pos" default="0.0"/>
  <arg name="yaw1_angle" default="0.0"/>
  
  <arg name="ns2" default="robot2"/>
  <arg name="x2_pos" default="0.0"/>
  <arg name="y2_pos" default="0.0"/>
  <arg name="z2_pos" default="0.0"/>
  <arg name="yaw2_angle" default="0.0"/>
  
  <arg name="ns3" default="robot2"/>
  <arg name="x3_pos" default="0.0"/>
  <arg name="y3_pos" default="0.0"/>
  <arg name="z3_pos" default="0.0"/>
  <arg name="yaw3_angle" default="0.0"/>
    
  <arg name="ns4" default="robot2"/>
  <arg name="x4_pos" default="0.0"/>
  <arg name="y4_pos" default="0.0"/>
  <arg name="z4_pos" default="0.0"/>
  <arg name="yaw4_angle" default="0.0"/>
    
  <arg name="ns5" default="robot2"/>
  <arg name="x5_pos" default="0.0"/>
  <arg name="y5_pos" default="0.0"/>
  <arg name="z5_pos" default="0.0"/>
  <arg name="yaw5_angle" default="0.0"/>
    
  <arg name="ns6" default="robot2"/>
  <arg name="x6_pos" default="0.0"/>
  <arg name="y6_pos" default="0.0"/>
  <arg name="z6_pos" default="0.0"/>
  <arg name="yaw6_angle" default="0.0"/>
    
  <arg name="ns7" default="robot2"/>
  <arg name="x7_pos" default="0.0"/>
  <arg name="y7_pos" default="0.0"/>
  <arg name="z7_pos" default="0.0"/>
  <arg name="yaw7_angle" default="0.0"/>
    
  <arg name="ns8" default="robot2"/>
  <arg name="x8_pos" default="0.0"/>
  <arg name="y8_pos" default="0.0"/>
  <arg name="z8_pos" default="0.0"/>
  <arg name="yaw8_angle" default="0.0"/>
    
  <arg name="visible_laser" default="true"/> 
  

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder
  	'$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro'
  	laser_visual:=$(arg visible_laser)" />
  	
  <group ns="$(arg ns1)">
    <param name="tf_prefix" value="$(arg ns1)" />
  	 	
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>
  	
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model $(arg ns1) -x $(arg x1_pos) -y $(arg y1_pos) -z $(arg z1_pos) -Y $(arg yaw1_angle) -param /robot_description" />
    	<remap from="base_scan" to="scan"/>
  </group>
  
  <group ns="$(arg ns2)">
    <param name="tf_prefix" value="$(arg ns2)" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>
      	
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model $(arg ns2) -x $(arg x2_pos) -y $(arg y2_pos) -z $(arg z2_pos) -Y $(arg yaw2_angle) -param /robot_description" />
    	<remap from="base_scan" to="scan"/>
  </group>
  
  <group ns="$(arg ns3)">
    <param name="tf_prefix" value="$(arg ns3)" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>
      	
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model $(arg ns3) -x $(arg x3_pos) -y $(arg y3_pos) -z $(arg z3_pos) -Y $(arg yaw3_angle) -param /robot_description" />
    	<remap from="base_scan" to="scan"/>
  </group>
    
  <group ns="$(arg ns4)">
    <param name="tf_prefix" value="$(arg ns4)" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>
      	
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model $(arg ns4) -x $(arg x4_pos) -y $(arg y4_pos) -z $(arg z4_pos) -Y $(arg yaw4_angle) -param /robot_description" />
    	<remap from="base_scan" to="scan"/>
  </group>
    
  <group ns="$(arg ns5)">
    <param name="tf_prefix" value="$(arg ns5)" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>
      	
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model $(arg ns5) -x $(arg x5_pos) -y $(arg y5_pos) -z $(arg z5_pos) -Y $(arg yaw5_angle) -param /robot_description" />
    	<remap from="base_scan" to="scan"/>
  </group>
    
  <group ns="$(arg ns6)">
    <param name="tf_prefix" value="$(arg ns6)" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>
      	
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model $(arg ns6) -x $(arg x6_pos) -y $(arg y6_pos) -z $(arg z6_pos) -Y $(arg yaw6_angle) -param /robot_description" />
    	<remap from="base_scan" to="scan"/>
  </group>
    
  <group ns="$(arg ns7)">
    <param name="tf_prefix" value="$(arg ns7)" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>
      	
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model $(arg ns7) -x $(arg x7_pos) -y $(arg y7_pos) -z $(arg z7_pos) -Y $(arg yaw7_angle) -param /robot_description" />
    	<remap from="base_scan" to="scan"/>
  </group>
    
  <group ns="$(arg ns8)">
    <param name="tf_prefix" value="$(arg ns8)" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>
      	
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model $(arg ns8) -x $(arg x8_pos) -y $(arg y8_pos) -z $(arg z8_pos) -Y $(arg yaw8_angle) -param /robot_description" />
    	<remap from="base_scan" to="scan"/>
  </group>
    
</launch>
