<?xml version="1.0"?>
<launch>
  <arg name="world" default="building" doc="worlds: building | isr_floor0 | tiny"/>
  
  <node pkg="stage_ros" type="stageros" name="stageros"
args="$(find rc_simul_worlds)/worlds/$(arg world)/1pioneer_$(arg world).world" respawn="false">
    <param name="/use_sim_time" value="true"/>
    <param name="base_watchdog_timeout" value="0.2"/>
    <remap from="base_scan" to="scan"/>
  </node>
  
</launch>

